[Desktop Entry]
Type=Application
Name=PlotJuggler3
Exec=plotjuggler3-ros
Icon=${SNAP}/meta/gui/plotjuggler3.svg
Comment=Visualize timeseries like a pro
Terminal=false
Categories=Development;
